<div class="d-flex">

 
  
    <div class="content-wrapper px-3">
  
      <router-outlet></router-outlet>

      <h2 class="user-table-caption pt-3">Welcome <i class="text-lg">{{userName.name}}</i></h2>
      <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4">
        <div class="col pt-3">
          <div class="card card-parent">
            <div class="card-body">
              <h5 class="card-title lead">New Requests</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div><i class="fa-solid fa-car fa-4x text-info"></i></div>
                <div>
                  <h1>0000</h1>
                  <a href="#" class="text-decoration-none see-details-btn">See Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col pt-3">
          <div class="card card-parent">
            <div class="card-body">
              <h5 class="card-title lead">Completed Request</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div><i class="fa-solid fa-check-to-slot fa-4x text-success"></i></div>
                <div>
                  <h1>0000</h1>
                  <a href="#" class="text-decoration-none see-details-btn">See Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col pt-3">
          <div class="card card-parent">
            <div class="card-body">
              <h5 class="card-title lead">Cancelled Requests</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div><i class="fa-regular fa-rectangle-xmark fa-4x text-primary"></i></div>
                <div>
                  <h1>0000</h1>
                  <a href="#" class="text-decoration-none see-details-btn">See Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col pt-3">
          <div class="card card-parent">
            <div class="card-body">
              <h5 class="card-title lead">Total Spaces</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div><i class="fa-solid fa-warehouse fa-4x text-warning"></i></div>
                <div>
                  <h1>0000</h1>
                  <a href="#" class="text-decoration-none see-details-btn">See Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row d-flex justify-content-between py-3 px-3 gap-4">
        <div class="col-7 user-table">
  
          <table class="table table-sm caption-top text-center">
            <caption class="lead user-table-caption ps-2">Recent Transactions</caption>
            <thead>
              <tr>
                <th scope="col">SL</th>
                <th scope="col">Trxn ID</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Trxn-23</td>
                <td>Tamal</td>
                <td>monayemislam@gmail.com</td>
                <td><a href="#" class="text-decoration-none link-light"><i class="fa-regular fa-eye pe-2"></i></a>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>Trxn-23</td>
                <td>Tamal</td>
                <td>monayemislam@gmail.com</td>
                <td><a href="#" class="text-decoration-none link-light"><i class="fa-regular fa-eye pe-2"></i></a>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>Trxn-23</td>
                <td>Tamal</td>
                <td>monayemislam@gmail.com</td>
                <td><a href="#" class="text-decoration-none link-light"><i class="fa-regular fa-eye pe-2"></i></a>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>Trxn-23</td>
                <td>Tamal</td>
                <td>monayemislam@gmail.com</td>
                <td><a href="#" class="text-decoration-none link-light"><i class="fa-regular fa-eye pe-2"></i></a>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>Trxn-23</td>
                <td>Tamal</td>
                <td>monayemislam@gmail.com</td>
                <td><a href="#" class="text-decoration-none link-light"><i class="fa-regular fa-eye pe-2"></i></a>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>Trxn-23</td>
                <td>Tamal</td>
                <td>monayemislam@gmail.com</td>
                <td><a href="#" class="text-decoration-none link-light"><i class="fa-regular fa-eye pe-2"></i></a>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>Trxn-23</td>
                <td>Tamal</td>
                <td>monayemislam@gmail.com</td>
                <td><a href="#" class="text-decoration-none link-light"><i class="fa-regular fa-eye pe-2"></i></a>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>Trxn-23</td>
                <td>Tamal</td>
                <td>monayemislam@gmail.com</td>
                <td><a href="#" class="text-decoration-none link-light"><i class="fa-regular fa-eye pe-2"></i></a>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>Trxn-23</td>
                <td>Tamal</td>
                <td>monayemislam@gmail.com</td>
                <td><a href="#" class="text-decoration-none link-light"><i class="fa-regular fa-eye pe-2"></i></a>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>Trxn-23</td>
                <td>Tamal</td>
                <td>monayemislam@gmail.com</td>
                <td><a href="#" class="text-decoration-none link-light"><i class="fa-regular fa-eye pe-2"></i></a>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>Trxn-23</td>
                <td>Tamal</td>
                <td>monayemislam@gmail.com</td>
                <td><a href="#" class="text-decoration-none link-light"><i class="fa-regular fa-eye pe-2"></i></a>
                </td>
              </tr>
  
  
            </tbody>
          </table>
        </div>
        <div class="col transaction-chart">
          <div class="p-3">
            <h3 class="lead user-table-caption pt-1">{{userName.name}}'s Current Geo-location</h3>
            <div class="d-flex justify-content-between geo-location-overview p-1 rounded mb-3">
              <small class="">Latitude: <span>{{userLocation.coords.latitude}}</span></small>
              <small>Longitude: <span>{{userLocation.coords.longitude}}</span></small>
            </div>
            <app-user-location [locationData]="latLng"></app-user-location>
            
  
          </div>
        </div>
  
  
  
  
      </div>
  
  
  
      <!--Table & Line Chart End-->
  

  
    </div>
  </div>