 /* User Table start */
 .user-table{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    background-color: #354759;

    
  }
  .user-table-caption{
    color: #e5e7ea;
  }
  .user-table tr,th, td{
    color: #e5e7ea;
    border: none;
  }
  .user-table tr{
    border-top: 1px solid #2E3E4E;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
  }
  /* User Table End */